<!DOCTYPE html>
<html>

<head>
	<script>
		var URL = location.href;

var appleConnectURL;
var appleConnectIdmsWebUrl;
var appID = '';
var appIDKey = '0d0de74fb7d44cf2641d126167079f00f469fdb841b464fe34614e0ea2adcddf'
var baseURL ='';

var appPassword ;
if(URL.includes('dev')){

	appIDKey = '0d0de74fb7d44cf2641d126167079f00f469fdb841b464fe34614e0ea2adcddf';
	baseURL = `https://ivendor-ivendor-dev.usspk05.app.apple.com/`;
	appleConnectURL= `https://idmsauth-uat.corp.apple.com/IDMSWebAuth/login?appIdKey=${appIDKey}&baseURL=${baseURL}`;
	appleConnectIdmsWebUrl=`https://idmsac-uat.corp.apple.com/IDMSWebAuth/validate?`;
	appPassword= 'st7b9928q7zehx9v';
	checkCookie();

} else if (URL.includes('prod')){

	appIDKey = '0d0de74fb7d44cf2641d126167079f00f469fdb841b464fe34614e0ea2adcddf';
	baseURL = `https://ivendor-ivendor-prod.usspk05.app.apple.com/`;
	appleConnectURL= `https://idmsauth-uat.corp.apple.com/IDMSWebAuth/login?appIdKey=${appIDKey}&baseURL=${baseURL}`;
	appleConnectIdmsWebUrl=`https://idmsac-uat.corp.apple.com/IDMSWebAuth/validate?`;
	appPassword= 'st7b9928q7zehx9v';
	checkCookie();
}else{

}
	//appleConnectValidateURL
+"?"+"language=UTF8&cookie="+myacinfo+
"&appId="+appID+"&appAdminPassword="+env.getProperty(appPassword,"")+"&ip="+ipAddress+"&format=json&func=prsId;";

		function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function checkCookie() {
	var myacinfo = getCookie("myacinfo-uat");
	console.log(myacinfo);
    if (myacinfo != "") {
		appleConnectIdmsWebUrl = appleConnectIdmsWebUrl +"?"+"language=UTF8&cookie="+myacinfo+
"&appId="+appID+"&appAdminPassword="+appPassword,+"&ip="+ipAddress+"&format=json&func=prsId;";
		window.location.replace(appleConnectIdmsWebUrl);
    } else {
		window.location.replace(appleConnectURL);
        }
    }
	

		
		
		</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVendor</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.theme.css">
	<link rel="stylesheet" href="assets/css/jquery.dynatable.css">
	<link rel="stylesheet" href="assets/css/element/main.css">
	<link rel="stylesheet" href="assets/css/element/container.css">
	<link rel="stylesheet" href="assets/css/element/header.css">
	<link rel="stylesheet" href="assets/css/element/footer.css">
	<link rel="stylesheet" href="assets/css/element/table.css">
	<link rel="stylesheet" href="assets/css/element/pagination.css">
	<link rel="stylesheet" href="assets/css/element/date-picker.css">
	<link rel="stylesheet" href="assets/css/element/time-picker.css">
	<link rel="stylesheet" href="assets/css/element/time-select.css">
	<link rel="stylesheet" href="assets/css/element/autocomplete.css">
	<link rel="stylesheet" href="assets/css/element/checkbox.css">
	<link rel="stylesheet" href="assets/css/element/dialog.css">
	<link rel="stylesheet" href="assets/css/element/input.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
	<!-- NAVIGATION BAR -->

	<nav class="navbar navbar-expand-md fixed-top" style="background: linear-gradient(to right, #1e5799 0%, #7db9e8 100%);">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" style="color: #ffffff; font-weight: 300;"><i class="fa fa-apple"></i>&nbsp;iVendor</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1" style="color: #ffffff; font-weight: 300;">
				<ul class="nav navbar-nav" style="color: #ffffff; font-weight: 300;">
					<li class="nav-item" role="presentation"><a class="nav-link active" href="#" id="navJobs" style="color: #ffffff; font-weight: 300;">Jobs</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: #ffffff; font-weight: 300;"
						 id="navInvoices">Invoices</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link active" style="color: #ffffff; font-weight: 300;" href="javascript:;"
						 id="navReports">Reports</a></li>
					<li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
						 style="color: #ffffff; font-weight: 300;" href="#">Admin&nbsp;</a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item" role="presentation" href="#" id="navCountry" data-toggle="mainCountry">Countries</a><a
							 class="dropdown-item" role="presentation" href="#" id="navResourceType">Resource Types</a><a class="dropdown-item"
							 role="presentation" href="#" id="navVendors">Vendors</a><a class="dropdown-item" role="presentation" href="#"
							 id="navUsers">Users
								/ Permissions</a>
						</div>
					</li>
					<li class="nav-item" role="presentation"><a class="nav-link float-right" style="color: #ffffff; font-weight: 300;"
						 href="#"><i class="fa fa-user"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>



	<!-- JOB SECTION -->
	<section class="container-fluid collapse show" id="mainJobs" style="margin-top: 60px;">
		<div class="section-title">
			<h1>Jobs</h1>

			<!-- only for testing -->
			<div id="userData"> Select User

				<el-select v-model="selectedUser" placeholder="User" v-on:change="setCurrentUser">
					<el-option v-for="user in users" :key="user.dsid" :label="user.full_name" :value="user.dsid">
					</el-option>
				</el-select>
			</div>


		</div>
		<div id="jobsInputModal">
			<el-dialog title="New Job" :visible.sync="JobsModalShow" width="400px">
				<el-container direction="vertical">


					<el-main>
						<p><strong>Engineers</strong></p>
						<el-autocomplete class="inline-input" autocomplete="off" v-model="selectedUser" :fetch-suggestions="autoCompleteUsers"
						 placeholder="Enter Engineer Name" value-key="full_name" @select="selectedEngineer"></el-autocomplete>
					</el-main>
					<el-main>
						<strong>Selected Engineers</strong>
						<ul>
							<li v-for="(user, index) in job.users" :key="index">
								{{user.full_name }}<span class="badge badge-danger" title="remove" v-on:click="removeUser(index)"> <i class="fas fa-user-minus"></i></span></li>
						</ul>
					</el-main>

					<el-main v-show="!preview">
						<p><strong>Resource Type</strong></p>
						<el-select v-model="selectedResourceType" placeholder="Select">
							<el-option v-for="resourceType in resourceTypes" :key="resourceType.resourceTypeName" :label="resourceType.resourceTypeName"
							 :value="resourceType.resourceTypeName">

							</el-option>
						</el-select>
					</el-main>


					<el-main v-show="!preview">
						<p><strong>Country</strong></p>
						<el-autocomplete class="inline-input" autocomplete="off" v-model="selectedCountry" :fetch-suggestions="autoCompleteCountries"
						 placeholder="Please Input" value-key="country" style="width: 220px" @select="changedCountry"></el-autocomplete>
					</el-main>


					<el-main v-show="!preview">
						<p><strong>Vendor</strong></p>
						<el-select v-model="selectedVendor" v-on:change="setVendor" placeholder="Select">
							<el-option v-for="vendor in vendors" :key="vendor.vendorName" :label="vendor.vendorName" :value="vendor.vendorName">

							</el-option>
						</el-select>

					</el-main>
					<el-main v-if="currentResourceType != null">
						<el-row>
							<el-button v-if="!isMultipleDay" type="primary" v-on:click="addDay(day)" icon="el-icon-circle-plus" round>Add
								Day</el-button>

						</el-row>
					</el-main>
					<el-collapse v-model="JobDay" accordion>
						<div v-for="(jobDetail, day) in job.jobDetails" :key='day' class="day">

							<el-collapse-item v-bind:title=' "Job Day " + (day + 1)' v-bind:name="day">
								<el-main v-show="!preview">
									<span v-if="day>0">
										<el-button type="danger" v-on:click="removeDay(day)" icon="el-icon-delete" round>Remove Day</el-button>
									</span>
								</el-main>

								<el-main v-show="!preview">
									<span class="input-label">Location</span>
									<el-input size="medium" placeholder="Please input" v-bind:name="'job.jobDetails['+day+'].pickUpLocation'"
									 v-model="job.jobDetails[day].pickUpLocation"></el-input>


								</el-main>

								<template v-if="isMultipleDay == true">
									<el-main v-show="!preview">
										<p><strong>Start Date</strong></p>
										<el-date-picker v-model="job.jobDetails[day].Date" type="date" name="Date" placeholder="Start Date"></el-date-picker>

									</el-main>
									<el-main v-show="!preview">
										<p><strong>End Date</strong></p>
										<el-date-picker v-model="job.jobDetails[day].endDate" type="date" name="endDate" placeholder="End date"></el-date-picker>

									</el-main>
								</template>
								<template v-else>

									<el-main v-show="!preview">
										<p><strong>Date</strong></p>
										<el-date-picker v-model="job.jobDetails[day].Date" type="date" name="pickUpDate" placeholder="Pick a day"></el-date-picker>
									</el-main>

									<el-main v-show="!preview">
										<el-time-select v-model="job.jobDetails[day].pickUpTime" default-value="10:00" :picker-options="{
															start: '00:00',
															step: '00:15',
															end: '23:45'
														}"
										 placeholder="Pick up time">
										</el-time-select>
									</el-main>
									<el-main v-show="!preview">
										<el-time-select v-model="job.jobDetails[day].dropOffTime" default-value="20:00" :picker-options="{
															start: '00:00',
															step: '00:15',
															end: '23:45'
														}"
										 placeholder="Drop off time" v-on:change="setAmendedDropOffTimeDefault(day)">
										</el-time-select>
								</template>
								</el-main>
								<div v-for="(element, el) in currentResourceType.resourceElements" :key="el">
									<el-main v-show="!preview">
										<p><strong>{{element.elementName}}</strong></p>
										<el-select v-model="job.jobDetails[day].resources.resourceElements[el].elementCount" placeholder="Select">
											<el-option v-for="item in OneToTen" :key="item" :label="item" :value="item">

											</el-option>
										</el-select>
									</el-main>
								</div>

								<el-main v-show="!preview">
									<p><strong>Job comments</strong></p>
									<el-input type="textarea" rows="2" name="bookingComments" placeholder="Any notes for this specific Day"
									 v-model="job.jobDetails[day].bookingComments">
									</el-input>
								</el-main>

								<el-main v-show="!preview">
									<el-button type="primary" v-on:click="showAddons = !showAddons" round>AddOns</el-button><br>
									<div v-show="showAddons">
										<p>
											<el-input placeholder="Please input flight no." v-model="job.jobDetails[day].addOns.flightInfo"></el-input>
										</p>
										<p><a href="https://flightplan.apple.com/login" target="_blank">Hey,
												don't forget your flightplan!</a></p>

										<p>
											<el-input placeholder="Please input hotel." v-model="job.jobDetails[day].addOns.hotelInfo"></el-input>
										</p>

										<p>
											<el-checkbox label="Overnight Security" v-model="job.jobDetails[day].addOns.overnightSecurity" border></el-checkbox>
										</p>
									</div>


								</el-main>






							</el-collapse-item>


						</div>

						<el-collapse-item title="Summary" v-bind:name="(-1)">
							<el-main>


								<span v-for="(jd, day) in job.jobDetails" :key='day'>
									<span v-if="isMultipleDay">
										{{job.vendor}}<br>
										<p>Start Date: {{formatDate(jd.Date)}}</p>
										<p>End Date: {{formatDate(jd.endDate)}}</p>

									</span>
									<span v-else>
										<p>Date: {{formatDate(jd.Date)}} </p>
									</span>

									<span v-for="(resourceElement, el) in jd.resources.resourceElements">

										<span v-for="count in resourceElement.elementCount ">
											<i v-bind:class="resourceElement.icon"></i>
										</span>
									</span>
									<span v-if="jd.addOns.flightInfo != '' "><i class="fas fa-plane"></i></span>
									<span v-if="jd.addOns.hotelInfo != '' "><i class="fas fa-hotel"></i></span>
									<span v-if="jd.addOns.overnightSecurity "><i class="fas fa-moon"></i></span>


									<span v-if="jd.bookingComments.length > 0"><i class="fas fa-comment text-primary"></i></span>
								</span>

							</el-main>
						</el-collapse-item>



					</el-collapse>
				</el-container>
				<span slot="footer" class="dialog-footer">
					<el-button-group>
						<el-button size="mini" @click="closeModal">Cancel</el-button>
						<el-button size="mini" type="primary" v-on:click="togglePreview" id="jobContinue"><span v-if="!preview">Preview</span><span
							 v-else>Back</span></el-button>

						<el-button size="mini" v-if="preview & job.emailSent==false" type="primary" v-on:click="saveAsDraft" name="draft"
						 id="draft">Save
							as Draft</el-button>


						<el-button size="mini" v-if="preview" type="primary" v-on:click="saveAndSend" name="saveAndSend" id="saveAndSend">Send
							Now</el-button>


					</el-button-group>





				</span>
			</el-dialog>
		</div>


		<!-- Welcome -->
		<div class="row">
			<div id="Welcome" class="col">

				<div class="alert alert-primary" role="alert">
					<h4 class="alert-heading">Welcome</h4>
					<div id='welcomeMessage'>You have {{incompleteJobsCount}} incomplete <span v-if="incompleteJobsCount == 1">job.</span><span
						 v-else>jobs.</span></div>
					<hr>
					<p class="mb-0"><a class="btn btn-primary btn-sm" role="button" @click='newJob' href="#"> <i class="fas fa-plus"></i>
							job</a>
						<a class="btn btn-primary btn-sm" v-on:click="sendRecaps" id="recaps" role="button" href="#">send recap</a>
					</p>
				</div>

			</div>


		</div>

		<!-- Jobs Table -->


		<div id="jobsTable" style="text-align: center">

			<el-table :data="jobsData" style="width: 100%;" :highlight-current-row="false" :row-class-name="tableRowClassName">
				<el-table-column prop="jobID" label="Job#" sortable width="120">

				</el-table-column>
				<el-table-column label="Draft?" width="75">
					<template slot-scope="jobs">
						<span v-if="jobs.row.status == 'draft'">
							<el-button type="primary" size="mini" circle v-on:click="toggle_draft(jobs.row)"><i class="fas fa-thumbtack"></i></el-button>
						</span>
						<span v-else>
							<el-button class="text" circle size="mini" disabled v-on:click="toggle_draft(jobs.row)"><i class="fas fa-thumbtack"></i></el-button>
						</span>

					</template>
				</el-table-column>
				<el-table-column label="Recap" width="100">
					<template slot-scope="jobs">
						<el-checkbox size="mini" v-model="jobs.row.sendRecap">

						</el-checkbox>
					</template>
				</el-table-column>
				<el-table-column prop="vendor" label="Vendor" sortable width="180">

				</el-table-column>

				<el-table-column label="Engineer" width="180" sortable sort-by="Array">
					<template slot-scope="jobs">
						<span v-for="(user, i) in jobs.row.users" :key="i">{{user.full_name}} </span>
					</template>
				</el-table-column>

				<el-table-column label='Wk#' width="50" sortable sort-by="String">
					<template slot-scope="jobs">
						{{jobWeek(jobs.row.jobDetails[0].Date)}}
					</template>
				</el-table-column>
				<el-table-column label='Dates' width="180" sortable sort-by="Array">
					<template slot-scope="jobs">
						{{jobStartDate(jobs.row)}} - {{jobEndDate(jobs.row)}}
					</template>
				</el-table-column>
				<el-table-column label='Msgs' width="60">
					<template slot-scope="jobs">

						<span v-if="jobs.row.vendorComments == []">
							<span v-if=" whoAddedLastComment(jobs.row)=='apple'"><a v-on:click="addComment(jobs.row)" href="#"><span class="badge badge-primary">{{jobs.row.vendorComments.length}}</span></a></span>
							<span v-else-if=" whoAddedLastComment(jobs.row)== 'vendor'"><a v-on:click="addComment(jobs.row)" href="#"><span
									 class="badge badge-danger">{{jjobs.row.vendorComments.length}}</span></a></span>
							<!-- if no comments icon is blue -->
						</span>
						<span v-else><a v-on:click="addComment(jobs.row)" href="#"><span class="badge badge-primary">{{jobs.row.vendorComments.length}}</span></a></span>


					</template>
				</el-table-column>
				<el-table-column label="Invoice" prop="invoiceID" width="70"></el-table-column>
				<el-table-column type="expand">
					<template slot-scope="jobs">
						<div style="float:left">
							<span v-for="jd in jobs.row.jobDetails">
								Date: {{formatDate(jd.Date) }}
								<span v-for="(resourceElement, el) in jd.resources.resourceElements">

									<span v-for="count in resourceElement.elementCount ">
										<i v-bind:class="resourceElement.icon"></i>
									</span>
								</span>
								<span v-if="jd.addOns.flightInfo != '' "><i class="fas fa-plane"></i></span>
								<span v-if="jd.addOns.hotelInfo != '' "><i class="fas fa-hotel"></i></span>
								<span v-if="jd.addOns.overnightSecurity "><i class="fas fa-moon"></i></span>

								<span v-if="jd.bookingComments.length > 0"><i class="fas fa-comment text-primary"></i></span>
								<br>
							</span>


						</div>
						<div style="float:right">
							<span v-if="jobs.row.status='overdue'">
								<el-button size="mini" v-on:click="completeJob(jobs.row)" type="success"><i class="fas fa-check"></i></i></el-button>
							</span>
							<span v-else>
								<el-button size="mini" v-on:click="completeJob(jobs.row)" disabled type="plain"><i class="fas fa-check"></i></i></el-button>
							</span>


							<el-button type="danger" size="mini" v-on:click="confirmDelete(jobs.row)"><i class="fas fa-times"></i></el-button>

							<el-button type="primary" size="mini" v-on:click="editJob(jobs.row)"><i class="fas fa-edit"></i></el-button>

							<el-button type="primary" size="mini" v-on:click="duplicateJob(jobs.row)"><i class="fas fa-clone"></i></el-button>

						</div>

					</template>
				</el-table-column>
			</el-table>

			<div class="block">
				<el-pagination :data="jobData" layout="prev, pager, next" :page-sizes="[5, 10]">
				</el-pagination>
			</div>


			<!-- Confirm Delete modal -->
			<el-dialog title="Confirm Delete / Cancel" :visible.sync="showDeleteCancelConfirm" width="30%">
				<div class="alert alert-danger">
					<p>Do you really want to delete / cancel this job? </p>
					<p>If a job has already had an email sent to the vendor then a cancellation email will be sent.!</p>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cancelDelete">Cancel</el-button>
					<el-button type="danger" @click="deleteJob">Confirm</el-button>
				</span>
			</el-dialog>

			<!-- Confirm Draft to live modal -->
			<el-dialog title="Confirm Send Emails" :visible.sync="showDraftCancelConfirm" width="30%">
				<div class="alert alert-danger">
					<p>Do you really want to make this job live? </p>
					<p>This will send the email request to the vendor.</p>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cancelRemoveDraft">Cancel</el-button>
					<el-button type="danger" @click="makeDraftLive">Confirm</el-button>
				</span>
			</el-dialog>


		</div>



		</div>
		<!--Send  Recap email form  -->

		<div id="recapEmails">
			<el-dialog title="Send Recap" :visible.sync="showRecap" width="70%">
				<div>
					<h5>Who do you want to send a recap to?</h5>
					<div class="row" v-for="(job, i) in jobs" :key="i">
						<div class="col">
							{{jobs[i].vendor}} : {{jobs[i].jobDetails[0].resources.resourceTypeName}}<br>
							{{ jobStartDate(jobs[i])}} till {{ jobEndDate(jobs[i])}}

						</div>
						<div class="col">
							<strong>Recipient</strong>
							<el-input placeholder='Separate emails by commas' v-model="jobs[i].vendorEmails"></el-input>
							<strong>CC</strong>
							<el-input placeholder='Separate emails by commas' v-model="jobs[i].appleEmails"></el-input>

						</div>

					</div>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cancelRecap">Cancel</el-button>
					<el-button type="primary" @click="sendRecap">Confirm</el-button>
				</span>
			</el-dialog>

		</div>

	</section>

	<!-- INVOICES SECTION -->
	<section id="mainInvoices" class="container-fluid collapse" style="margin-top: 60px;">

		<div class="section-title">
			<h1>Invoices</h1>
		</div>

		<div id="invoicesInput" class="col">
			<el-button type='primary' v-on:click="showModal">+ Add Invoice</el-button>
			<!-- Invoices Alert -->
			<div id="invoicesAlert" class="alert alert-warning alert-dismissible fade hide" role="alert">
				{{ alertMessage }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- Invoices Input Modal -->
			<div role="dialog" tabindex="-1" class="modal fade" id="invoicesInputModal" style="z-index: 1400; font-size: 0.9em">
				<div class="modal-dialog hide" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4>Add Invoice</h4>
							<button type="button" class="close" v-on:click="closeModal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div id="invoicesInputModalAlert" class="alert alert-warning alert-dismissible fade collapse hide">
							<span>message</span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form v-on:submit.prevent>
							<div id="invoicesInputModalbody" class="modal-body">
								<div id="InvoicesInputForm">

									<div class="row">
										<div class="col">
											<div class="form-group"><label class="control-label">Invoice No.</label> <input autocomplete="off" class="form-control"
												 v-model="invoice.invoiceID" type="text"></div>
										</div>
									</div>

									<div class="row">

										<div class="col">
											<div class="form-group"><label class="control-label">Job Numbers</label> <input autocomplete="off"
												 placeholder="AP5000, AP5001, etc" class="form-control" v-on:change="addSearchedJob" v-on:keyup.comma="addSearchedJob"
												 v-model="jobID" type="text"></div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="form-group"><label class="control-label">Invoice Cost</label> <input autocomplete="off"
												 placeholder="0" class="form-control" v-model="invoice.cost" type="text"></div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="form-group"><label class="control-label">Comments</label> <input autocomplete="off" placeholder="Enter details of amendments or OK to pay"
												 class="form-control" v-model="invoice.invoiceComments" type="text"></div>
										</div>
									</div>

									<div class="row">
										<div id="invoiceJobSearchTable" class="col">
											<h6>Job Summary</h6>

											<!-- Summary table showing the invoices that are added -->

											<template v-for="(job, index) in searchedJobs">
												<table id="jobSearch" class="table">
													<tr v-bind:class="[job.completed ? 'table-success  border-success border-top' : 'table-danger border-danger border-top']">

														<td>ID: {{job.jobID}} Completed:
															<span v-if="job.completed"><i class="fas fa-check primary"></i></span>
															<span v-else="job.completed"><i class="fas fa-times warning"></i></span>
															<a href="#" v-on:click="toggle_display()"><i class="fas fa-glasses"></i></a>
														</td>
														<td style="text-align: right">
															<button v-on:click="removeJobFromSearchedJobs(index)" data-toggle="tooltip" data-placement="top" title="Remove from list"
															 class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
															<button v-if="job.completed == false" v-on:click="completeJobFromSearchedJobs(index)" data-toggle="tooltip"
															 data-placement="top" title="Edit the job to mark as complete" class="btn btn-sm btn-primary"><i class="far fa-edit"></i>
															</button>
															<button v-if="job.completed == false" v-on:click="sendEmail(index)" data-toggle="tooltip" data-placement="top"
															 title="Send an email reminder " class="btn btn-sm btn-primary"><i class="fas fa-envelope"></i></button>
														</td>
													</tr>
													<template v-if="toggledisplay">
														<template v-for="jobDetail in job.jobDetails">

															<tr v-bind:class="[job.completed ? 'table-success' : 'table-danger']">
																<td>Day ID : {{ jobDetail.jobDetailID }} Country : {{
																	jobDetail.country.split(':')[0] }}<br />Date : {{ jobDetail.Date }}
																	Amended Drop off time: {{ jobDetail.amendedDropoffTime }}</td>
																<td>

																	<template v-for="element in jobDetail.resources.resourceElements">
																		<template v-for="n in element.elementCount">
																			<i v-bind:class="element.icon"></i>
																		</template>
																	</template>
																	<span v-if="jobDetail.addOns.flightInfo != '' "><i class="fas fa-plane"></i></span>
																	<span v-if="jobDetail.addOns.hotelInfo != '' "><i class="fas fa-hotel"></i></span>
																	<span v-if="jobDetail.addOns.overnightSecurity "><i class="fas fa-moon"></i></span>
														</template>

														</td>
														</tr>
														<tr v-bind:class="[job.completed ? 'table-success border-bottom border-success' : 'table-danger border-bottom border-danger']">
															<td colspan="2">Final Comments: {{job.finalComments}}</td>
														</tr>
													</template>
												</table>
											</template>
										</div>
									</div>
								</div>
							</div>
							<div id="invoicesInputModalfooter" class="modal-footer">
								<div class="form-row">
									<div class="col"><button class="btn btn-primary" type="button" id="cancelAddInvoice" v-on:click="closeModal">Cancel</button></div>

									<div class="col">
										<button class="btn btn-primary" type="button" id="saveInvoice" v-if="editing === false" v-on:click="addInvoice">Add
											Invoice</button>
										<button class="btn btn-primary" type="button" id="saveInvoice" v-else v-on:click="addInvoice">Update Invoice</button>

									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>

		<!-- Invoice Table -->
		<div id="invoiceTable">
			<el-table :data="invoices" style="width: 100%">
				<el-table-column prop="invoiceID" label="Invoice#" sortable width="120">
				</el-table-column>
				<el-table-column prop="userID" sortable width="150" label="Engineer"></el-table-column>
				<el-table-column label="Date" sortable width="180">
					<template slot-scope="scope">
						{{formatDateYear(scope.row.date)}}
					</template>
				</el-table-column>
				<el-table-column type="expand">
					<template slot-scope="jobs">
						<div v-for="job in jobs.row.jobs">
							{{ job.jobID }}
							<div v-bind:id="'summary'+ job.jobID">
								<strong>Vendor</strong> : {{job.vendor}}
								<strong>Date</strong> : {{formatDate(job.jobDetails[0].Date)}} <strong>till</strong>
								:
								{{formatDate(job.jobDetails[(job.jobDetails.length - 1)].Date)}}
							</div>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="cost" label="Cost">
				</el-table-column>
			</el-table>
		</div>




		<!-- Invoice Complete Jobs modal -->
		<div id="completeJob">
			<el-dialog title="Complete Job" :visible.sync="invoicesCompleteJobInputModal" width="50%">

				<template v-if="jobToBeCompleted != undefined">
					<template v-for="(jobDetail, index) in jobToBeCompleted.jobDetails">
						<el-container direction="vertical">
							<el-main>

								<div id="summaryJobID" v-bind:value="jobToBeCompleted._id">

									<span v-if="index==0">
										<h6>Job Summary - {{ jobToBeCompleted.jobID }} {{jobDetail.resources.resourceTypeName}}
											{{jobToBeCompleted.vendor}}</h6>
									</span>

								</div>

							</el-main>
							<el-main>


								<h5>{{formatDate(jobDetail.Date)}}</h5>

							</el-main>
							<el-main>



								<el-main>
									<div>{{ jobDetail.country }} {{jobDetail.pickUpLocation}} <br>
										<span v-for="resourceElement in jobDetail.resources.resourceElements">
											<span v-for="count in resourceElement.elementCount ">
												<i v-bind:class="resourceElement.icon"></i>
											</span>
											<span v-if="jobDetail.addOns.flightInfo != ''">
												<i class="fas fa-plane"></i>
											</span>
											<span v-if="jobDetail.addOns.hotelInfo != ''">
												<i class="fas fa-hotel"></i>
											</span>
											<span v-if="jobDetail.addOns.overnightSecurity">
												<i class="fas fa-moon"></i>
											</span></span><br>


										<p v-if="jobDetail.pickUpTime != undefined"><strong>Pick up time:</strong> {{ jobDetail.pickUpTime }}</p>
										<p v-if="jobDetail.dropOffTime != undefined"><strong>Drop off time:</strong> {{ jobDetail.dropOffTime }}</p>
										<div>
											<h6>Amended drop off time</h6>
											<el-time-select v-model="jobToBeCompleted.jobDetails[index].amendedDropoffTime" :picker-options="{
																	  start: '08:30',
																	  step: '00:15',
																	  end: '23:00'
																	}"
											 placeholder="Amended Drop off time">
											</el-time-select>
										</div>
									</div>
								</el-main>
							</el-main>

							<el-main>


								<p><strong>Final Comments</strong></p>
								<textarea placeholder="Final comments" autocomplete="on" required id="finalComments" autofocus class="form-control"></textarea>
								<hr>

							</el-main>
						</el-container>
					</template>

				</template>

				<span slot="footer" class="dialog-footer">
					<el-button type="plain" @click="closeModal">Cancel</el-button>
					<el-button type="primary" @click="completeJob">Complete Job</el-button>
				</span>
			</el-dialog>
		</div>

		<!-- Email Incomplete Jobs Modal from Invoice -->
		<div class="modal fade" role="dialog" tabindex="-1" id="emailIncompleteJobFromInvoice" style="z-index: 1800;">
			<template v-if="emailData != undefined">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4>Email </h4><button type="button" class="close" v-on:click="closeModal" aria-label="Close"><span aria-hidden="true">×</span></button>
						</div>
						<div class="modal-body">
							<div v-for="(item, index) in emailData">
								<div class="row">
									<div class="col">
										<div class="form-group"><strong>TO :</strong><input type="text" v-bind:value="item.emailTo" id="emailIncompleteJobFromInvoiceToEmail"
											 class="form-control" placeholder="comma separated email addresses" /></div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group"><strong>CC : </strong><input type="text" v-bind:value="item.emailCC" id="emailIncompleteJobFromInvoiceCCEmail"
											 class="form-control" placeholder="comma separated email addresses" /></div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group"><strong>Jobs to Complete : </strong><input type="text" v-bind:value="item.jobID" id="emailIncompleteJobFromInvoiceJobs"
											 class="form-control" /></div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group"><strong>Comments : </strong><textarea rows="4" v-bind:value="item.comments" id="emailIncompleteJobFromInvoiceComments"
											 class="form-control">These jobs are incomplete. We have received an invoice for these jobs but they need to marked as complete, with comments before it can be paid. Please mark the jobs as complete.</textarea></div>
										<hr>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer"><button class="btn btn-light" type="button" v-on:click="closeModal">Cancel</button><button
							 class="btn btn-primary" v-on:click="sendEmail" type="button">Send</button></div>
					</div>
				</div>
			</template>
		</div>

	</section>
	<!-- REPORTS SECTION -->
	<section class="container-fluid collapse" id="mainReports" style="margin-top: 60px;">
		<div class="section-title">
			<h1>Reports</h1>
		</div>


		<div id="charts">
			<div>
				<h4>Jobs by Day</h4>
				<line-chart xtitle="Date" ytitle="No. Jobs" :discrete="true" :data="jobsByDay"></line-chart>

			</div>
			<div>
				<h4>Jobs by Month</h4>
				<column-chart :discrete="true" xtitle="Months" ytitle="No. Jobs" :data="jobsByMonth"></column-chart>
			</div>

			<!-- <div>
				<h4>Jobs by Status</h4>
				<pie-chart v-bind:label="status" :discrete="true" :data="jobsByStatus"></pie-chart>
			</div> -->

			<div>
				<h4>Jobs by Country</h4>
				<pie-chart :data="jobsByCountry"></pie-chart>
			</div>

			<div>
				<h4>Jobs by Engineer</h4>
				<pie-chart :data="jobsByEngineer"></pie-chart>
			</div>

			<div>
				<h4>Jobs by Vendor</h4>
				<pie-chart :data="jobsByVendor"></pie-chart>
			</div>
			<div>
				<h4>Invoice Costs by Month</h4>
				<column-chart :discrete="true" xtitle="Months" ytitle="Total Cost" :data="invoiceTotals"></column-chart>
			</div>
		</div>

	</section>
	<!-- COUNTRY SECTION -->
	<section class="container-fluid collapse" id="mainCountry" style="margin-top: 60px;">
		<div>

			<!-- Country Input -->
			<div class="col">
				<h1 class="section-title">Countries</h1>
			</div>
			<div id="countryInput">

				<div class="col py-2"><button class='btn btn-primary' v-on:click="showModal">+</button></div>

				<div role="dialog" tabindex="-1" class="modal fade" id="countryInputModal">
					<div class="modal-dialog modal-lg hide" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4>Add Country</h4>
								<button type="button" class="close" v-on:click="closeModal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div id="countryInputModalAlert" class="">

							</div>
							<form>
								<div id="countryInputModalbody" class="modal-body">
									<div id="CountryInputForm">

										<div class="form-row">
											<div class="col"><label><strong>Country:  </strong></label><input type="text" placeholder="UK" class="form-control"
												 v-model="country.country"></div>
										</div>
										<div class="form-row">
											<div class="col"><label><strong>Timezone:  </strong></label><input type="text" placeholder="Europe/London"
												 class="form-control" v-model="country.timezone"></div>
										</div>
										<div class="form-row">
											<div class="col"><label><strong>GMT Offset:  </strong></label><input type="text" placeholder="UTC +1:00"
												 class="form-control" v-model="country.gmtOffset"></div>
										</div>
										<div class="form-row">
											<div class="col"><label><strong>Region:</strong></label><input type="text" placeholder="Europe" class="form-control"
												 v-model="country.region"></div>
										</div>

									</div>
								</div>
								<div id="countryInputModalfooter" class="modal-footer">
									<div class="form-row">
										<div class="col"><button class="btn btn-primary" type="button" id="saveCountry" v-on:click="closeModal">Cancel</button></div>

										<div class="col">
											<button class="btn btn-primary" type="button" id="saveCountry" v-if="editing === false" v-on:click="addCountry">Add
												Country</button>
											<button class="btn btn-primary" type="button" id="saveCountry" v-else v-on:click="addCountry">Update
												Country</button>

										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
			<!-- country Table -->
			<div id="countryTable" class="col">

				<table class="table table-striped">
					<tbody>
						<tr class="info">
							<th>Country name</th>
							<th>Timezone</th>
							<th>GMT Offset</th>
							<th>Region</th>
							<th></th>
						</tr>
						<tr v-for="country in countries">
							<td>{{ country.country }}</td>
							<td>{{ country.timezone }}</td>
							<td>{{ country.gmtOffset }} </td>
							<td>{{ country.region }}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" v-on:click="editCountry( country.country )"><i class="fa fa-edit"></i></span></button>
								<button type="button" class="btn btn-danger btn-xs" v-on:click="deleteCountry( country.country )"><i class="fa fa-trash-o"></i></span></button></td>
						</tr>

					</tbody>
				</table>

			</div>

		</div>
	</section>



	<!-- VENDORS SECTION -->
	<section class="container-fluid collapse" id="mainVendors" style="margin-top: 60px;">
		<div>
			<div class="section-title">
				<h1>Vendors</h1>
			</div>
			<a class="btn btn-primary btn-lg" role="button" href="#" onclick="vendorController.showForm()" data-toggle="modal"><i
				 class="fas fa-plus"></i></a>

			<div id="vendorAlerts"></div>
			<div id="vendorDataEntry"></div>


			<div id="VendorTableData"></div>
		</div>
	</section>



	<!-- USERS SECTION -->
	<section class="container-fluid collapse" id="mainUsers" style="margin-top: 60px;">
		<div class="section-title">
			<h1>Users</h1>
		</div>


		<el-container direction="vertical">
			<div id="editUser">
				<el-main>
					<div style="margin: auto; width:510px;">
						<h1 style="margin: auto;">Change Proxies</h1>
						<div style="text-align: left">
							<template>
								<el-transfer :titles="['Users', 'My Proxies']" v-model="currentEngineer.proxies" :data="UserIdPairs">
								</el-transfer>
							</template>
						</div>
						<p style="margin: auto;  margin-top: 20px; text-align:center">
							<el-button type="primary" v-on:click="saveProxies">Save Proxies</el-button>
						</p>
					</div>
				</el-main>

				<el-main v-if="selectedUserDetails == null && currentEngineer.role==2">
					<div id="Permissions" style="margin: auto; width:510px;">
						<h1 style="margin: auto; text-align:center">Change User Permissions</h1>

						<div id="userData">
							<el-autocomplete class="inline-input" autocomplete="off" v-model="selectedUser" :fetch-suggestions="autoCompleteUsers"
							 placeholder="Enter Engineer Name" value-key="full_name" @select="selectedEngineer">
							</el-autocomplete>
						</div>
					</div>
				</el-main>
				<el-main v-if="selectedUserDetails != null ">
					<h4><span>{{selectedUserDetails.full_name}}</span></h4>
					<template>
						<el-select v-model="selectedUserDetails.role" placeholder="Select Role">
							<el-option v-for="item in permissions" :key="item.key" :label="item.label" :value="item.key">
							</el-option>
						</el-select>
					</template>
					<p style="margin: auto;  margin-top: 20px; text-align:center">
						<el-button type="primary" v-on:click="cancelPermissions">Back</el-button>
						<el-button type="primary" v-on:click="savePermissions">Save Permissions</el-button>
					</p>
				</el-main>
			</div>
		</el-container>
	</section>



	<!-- RESOURCE TYPES SECTION -->
	<section class="container-fluid collapse" id="mainResourceType" style="margin-top: 60px;">
		<div>
			<div class="section-title">
				<h1>Resource Types</h1>
			</div>

			<div id="ResourceTypeDataEntry">
				<el-button type="primary" rounded icon="el-icon-plus" v-on:click="showModal"> New Resource</el-button>
				<el-dialog title="New Resource Type" :visible.sync="resourceInputModalShow" width="400px" center>

					<el-container direction="vertical">

						<el-main>
							<p><strong>Resource Type Name</strong></p>
							<el-input placeholder="eg: Security" on:change="setResourceTypeName" v-model="resourceType.resourceTypeName">hello</el-input>
						</el-main>
						<el-main>
							<p><strong>Is resource type multiday?</strong></p>
							<el-button v-if="resourceType.isMultipleDay == true" circle size="mini" icon="el-icon-check" type="success"
							 v-on:click="resourceType.isMultipleDay = false"></el-button>
							<el-button v-else circle size="mini" icon="el-icon-error" type="info" v-on:click="resourceType.isMultipleDay = true"></el-button>

						</el-main>
						<el-collapse v-model="resourceElementsSection" accordion>
							<div v-for="(element, index) in resourceType.resourceElements" :key="index">

								<el-collapse-item v-bind:title='"Element " + (index + 1)' v-bind:name="index">

									<el-main>
										<el-button type="primary" v-on:click="addResourceElement"><i class="fas fa-plus"></i> Add Element</el-button>
										<el-button v-if="index > 0" type="danger" v-on:click="removeResourceElement(index)"><i class="far fa-trash-alt"></i>
											Remove Element
										</el-button>

									</el-main>
									<el-main>
										<p><strong>Element Name</strong></p>
										<el-input v-model="resourceType.resourceElements[index].elementName" placeholder="eg: engineer, driver"></el-input>
									</el-main>
									<el-main>

										<el-select v-model="resourceType.resourceElements[index].icon" placeholder="Select icon">
											<el-option v-for="icon in icons" :key="icon.icon" :label="icon.description" :value="icon.icon">
												<span style="text-align: center"><i v-bind:class="icon.icon"></i></span>

											</el-option>
										</el-select>
									</el-main>

								</el-collapse-item>
							</div>
						</el-collapse>
						<div v-for="(tag, index) in resourceType.resourceTags" :key="index">
							<el-collapse>
								<el-collapse-item>
									<el-main>
										<el-input v.model='resourceType.resourceTags[index].tag'></el-input>
									</el-main>

								</el-collapse-item>

							</el-collapse>

						</div>



					</el-container>
					<span slot="footer" class="dialog-footer">
						<el-button @click="closeModal">Cancel</el-button>
						<el-button type="primary" @click="saveResource">Confirm</el-button>

					</span>
					</el-dilog>
			</div>





			<div id="resourceTypeTableData">
				<el-table :data="resourceTypes" style="width: 100%">
					<el-table-column prop="resourceTypeName" label="Name" width="180">
					</el-table-column>
					<el-table-column label="is Multiday?" width="180">
						<template slot-scope="prop">
							{{prop.row.isMultipleDay}}
						</template>

					</el-table-column>
					<el-table-column type="expand">

						<template slot-scope="props">

							<p v-for="(element, index) in props.row.resourceElements" :key="index">
								{{props.row.resourceElements[index].elementName}} <i v-bind:class="props.row.resourceElements[index].icon"></i><br>
							</p>
						</template>
					</el-table-column>

					<el-table-column label="Operations">
						<template slot-scope="scope">
							<el-button size="mini" @click="editResource(scope.row)">Edit</el-button>

							<el-popover trigger="click" :ref="'popover'+scope.$index">
								<div class="btn-confirm">
									<el-button type="text" size="mini" @click="closeDialog(scope.$index)">Cancel</el-button>
									<el-button type="primary" size="mini" @click="okToDelete=true; deleteResourceType(scope)">Sure</el-button>
								</div>
								<el-button type="danger" size="mini" slot="reference" @click="confirmDeleteDialog=true">Delete</el-button>
							</el-popover>

						</template>
					</el-table-column>


			</div>

		</div>
	</section>


	<!-- Apple Vendor Communication -->
	<section id="appleCommunicationPage" class="container-fluid collapse">
		<div id="appleCommunication">
			<el-container direction='vertical'>
				<el-header>
					<h1 style="padding-bottom:20px"><i class="fab fa-apple"></i>iVendor</h1>
				</el-header>
				<el-main>
					<h3>Job Details</h3>

				</el-main>
				<el-main>
					<h4>Job Summary - {{job.jobID}} {{job.jobDetails[0].resources.resourceTypeName}}: {{job.vendor}}</h4>
					<div>
						<h5>
							<span v-for="jd in job.jobDetails">
								Date: {{formatDate(jd.Date) }}
								<span v-for="(resourceElement, el) in jd.resources.resourceElements">

									<span v-for="count in resourceElement.elementCount ">
										<i v-bind:class="resourceElement.icon"></i>
									</span>
								</span>
								<span v-if="jd.addOns.flightInfo != '' "><i class="fas fa-plane"></i></span>
								<span v-if="jd.addOns.hotelInfo != '' "><i class="fas fa-hotel"></i></span>
								<span v-if="jd.addOns.overnightSecurity "><i class="fas fa-moon"></i></span>

								<span v-if="jd.bookingComments.length > 0"><i class="fas fa-comment text-primary"></i></span>
						</h5>
						</span>
					</div>
				</el-main>
				<el-main>
					<h4>Previous comments</h4>
					<el-table :data="job.vendorComments" style="width: 100%">
						<el-table-column prop="date" label="Date" width="180">
						</el-table-column>
						<el-table-column prop="comment" label="Comment" width="300">
						</el-table-column>
						<el-table-column prop="authorName" label="Author" width="180">
						</el-table-column>
						<el-table-column prop="icon" label="Organisation" width="180">
						</el-table-column>
					</el-table>


				</el-main>

				<el-main>
					<h5>Comments</h5>
					<el-input type="textarea" :rows="2" placeholder="Please comment" v-model="vendorComment.comment">
					</el-input>
				</el-main>
				<el-main>
					<h5>Author</h5>
					<el-input placeholder="Please Name" v-model="vendorComment.authorName">
					</el-input>
				</el-main>
				<el-main>
					<el-button type="primary" @click="saveComments()">Save comments
					</el-button>
				</el-main>
			</el-container>

		</div>


	</section>




	<!--External libraries -->

	<script src="assets/js/libraries/jquery-3.3.1.js" type="text/javascript"></script>

	<!-- Bootstrap js -->
	<script src="assets/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

	<!-- VueJS -->
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/element-ui"></script>
	<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
	<script>
		ELEMENT.locale(ELEMENT.lang.en)
	</script>

	<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
	<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>



	<!-- Axios performs AJAX communication -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



	<!-- Used to create date picker for date fields -->
	<script src="assets/js/libraries/moment.js" type="text/javascript"></script>
	<!-- used to manipulate dates and times -->
	<script src="assets/js/libraries/moment-timezone-with-data-2012-2022.js" type="text/javascript"></script>
	<!-- used for timezones  -->

	<!-- iVendor Libraries -->

	<!-- Used to generate form controls -->

	<script src="assets/js/libraries/ivendor/dataModels.js" type="text/javascript"></script>
	<!-- Used to describe the data models used in the various objects -->

	<script src="assets/js/libraries/ivendor/users.js" type="text/javascript"></script>

	<script src="assets/js/libraries/ivendor/country.js" type="text/javascript"></script>
	<!-- used to manage the country page, adding editing and deleting countries -->

	<script src="./assets/js/libraries/ivendor/navigate.js" type="text/javascript"></script>
	<!-- Used for managing the navigation  -->
	<script src="./assets/js/libraries/ivendor/resourceTypeNew.js" type="text/javascript"></script>
	<!-- used to manage the resource Type page, adding editing and deleting resourceTypes -->
	<script src="assets/js/libraries/ivendor/vendor.js" type="text/javascript"></script>
	<!-- used to manage the Vendors page, adding editing and deleting vendors and their resources -->
	<script src="assets/js/libraries/ivendor/jobnew.js" type="text/javascript"></script>
	<!-- used to manage the Jobs page, adding editing and deleting Jobs -->
	<script type="text/javascript" src="assets/js/libraries/ivendor/apple_communication.js"></script>
	<!-- used to communicate with the vendor -->
	<script type="text/javascript" src="assets/js/libraries/ivendor/invoices.js"></script>
	<!-- used to communicate with the invoices -->
	<script type="text/javascript" src="assets/js/libraries/ivendor/reports.js"></script>
	<!-- used to generate reports -->

</body>

</html>