<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVendor</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.theme.css">
	<link rel="stylesheet" href="assets/css/jquery.dynatable.css">
	<link rel="stylesheet" href="assets/css/element/main.css">
	<link rel="stylesheet" href="assets/css/element/header.css">
	<link rel="stylesheet" href="assets/css/element/footer.css">
	<link rel="stylesheet" href="assets/css/element/button.css">
	<link rel="stylesheet" href="assets/css/element/icon.css">
	<link rel="stylesheet" href="assets/css/element/date-picker.css">
	<link rel="stylesheet" href="assets/css/element/time-picker.css">
	<link rel="stylesheet" href="assets/css/element/time-select.css">
	<link rel="stylesheet" href="assets/css/element/autocomplete.css">
	<link rel="stylesheet" href="assets/css/element/checkbox.css">
	<link rel="stylesheet" href="assets/css/element/select.css">
	<link rel="stylesheet" href="assets/css/element/dialog.css">
	<link rel="stylesheet" href="assets/css/element/input.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>

	<!-- VENDORS SECTION -->
	<section>
		<el-container direction="vertical">
			<el-main>
				<div class="section-title">
					<h1>Vendors</h1>
				</div>
				<div id="vendorInput">
					<el-button type="primary" @click="showModal">+</el-button>

					<el-dialog title="Add Vendor" :visible.sync="showVendorModal" width="80%">
						<el-container direction="vertical">
							<el-main>
								<p><strong>Name</strong></p>
								<el-input v-model="vendor.vendorName" placholder="Vendor Name"></el-input>

							</el-main>

							<el-collapse v-model="countrySection" accordion>
								<div v-for="(country, index) in vendor.countries" :key='index' class="day">
									<el-collapse-item v-bind:title='country.country' v-bind:name="index">
										<el-main>
											<p><strong>Country</strong></p>
											<el-autocomplete class="inline-input" autocomplete="off" v-model="selectedCountry" :fetch-suggestions="autoCompleteCountries"
											 placeholder="Enter country" value-key="country" style="width: 220px" @select="changedCountry(index)"></el-autocomplete>
											<p style="padding-top: 20px">
												<el-button type="primary" size="mini" v-on:click="addCountry()">Add Country</el-button>
												<el-button v-if="index>0" type="danger" size="mini" v-on:click="removeCountry(index)">Remove Country</el-button>
											</p>
										</el-main>

										<el-main>
											<el-container direction="horizontal">
												<el-main>


													<p><strong>Start Date</strong></p>
													<el-date-picker v-model="country.startDate" type="date" placeholder="Start Date">
													</el-date-picker>
												</el-main>
												<el-main>
													<p><strong>End Date</strong></p>
													<el-date-picker v-model="country.endDate" type="date" placeholder="End Date">
													</el-date-picker>

												</el-main>
											</el-container>
											<el-main>
												<p><strong>Default Pickup location</strong></p>
												<el-input v-model="country.defaultPickupLocation" placeholder="location">
												</el-input>
											</el-main>
											<el-main>
												<el-container direction="horizontal">
													<el-main>

														<p><strong>Vendor emails</strong></p>
														<el-input v-model="country.vendorEmails" placeholder="comma separated emails">
														</el-input>
													</el-main>
													<el-main>
														<p><strong>Apple emails</strong></p>
														<el-input v-model="country.appleEmails" placeholder="comma separated emails">
														</el-input>
													</el-main>
												</el-container>
												<el-main style="background-color: lightgray; padding:10px">
													<p><strong>Resources</strong></p>
													<el-select v-model="country.resources.resourceTypeName" placeholder="Select resource" v-on:change="resourceChanged(index)">
														<el-option v-for="item in resourceTypes" :key="item.resourceTypeName" :label="item.resourceTypeName"
														 :value="item.resourceTypeName">
														</el-option>
													</el-select>
													<div v-for="(element, el) in country.resources.resourceElements" :key="el">

														<p style="padding-top: 20px">
															<el-button type="primary" size="mini" v-on:click="addResource(index)">Add Resource</el-button>
															<el-button v-if="el>0" type="danger" size="mini" v-on:click="removeResource(index,el)">Remove Resource</el-button>
														</p>
														<el-select v-model="country.resources.resourceElements[el].elementName" v-on:change="elementChanged(index, el)"
														 placeholder="Select an element">
															<el-option v-for="item in resourceElementOptions" :key="item.elementName" :label="item.elementName"
															 :value="item.elementName">
															</el-option>
														</el-select>
														<p><strong>Cost</strong></p>
														<el-input v-model="country.resources.resourceElements[el].elementCost" placeholder="Cost"></el-input>
														<hr>
													</div>
												</el-main>

									</el-collapse-item>

								</div>

							</el-collapse>



						</el-container>
						<span slot="footer" class="dialog-footer">
							<el-button @click="closeModal">Cancel</el-button>
							<el-button type="primary" @click="saveVendor">Confirm</el-button>
						</span>
					</el-dialog>

				</div>


			</el-main>


			<el-main>
				<div id="VendorTable">
					<el-collapse v-model="vendorSection">
						<div v-for="(vendor, index) in vendors" :key='index'>
							<el-collapse-item v-bind:title="vendor.vendorName" v-bind:name="index">
								<div style="float:right">
									<el-button type="primary" size="mini" v-on:click="editVendor(vendor)"><i class="fas fa-edit"></i></el-button>
									<el-button type="danger" size="mini" v-on:click="deleteVendor(vendor)"><i class="fas fa-trash-alt"></i></el-button>
								</div>
								<div>
									<el-table :data="vendor.countries">
										<el-table-column label="Country">
											<template slot-scope="countries">
												{{countries.row.country}}
											</template>
										</el-table-column>
										<el-table-column label="Start Date">
											<template slot-scope="countries">
												{{formatDate(countries.row.startDate)}}
											</template>
										</el-table-column>
										<el-table-column label="End Date">
											<template slot-scope="countries">
												{{formatDate(countries.row.endDate)}}
											</template>
										</el-table-column>
										<el-table-column type="expand">
											<template slot-scope="countries">
												<ul style="padding: 0px; list-style: none">
													<li><strong>Email</strong> : {{countries.row.vendorEmails}}</li>
													<li><strong>Default pickup location</strong> : {{countries.row.defaultPickupLocation}}</li>
													<li><strong>Resources</strong> :</li>
													<ul>
														<li v-for="(element, el) in countries.row.resources.resourceElements" :key="el">
															{{countries.row.resources.resourceTypeName}} {{element.elementName}} <i v-bind:class="element.icon"></i>
														</li>
													</ul>
												</ul>


											</template>
										</el-table-column>
									</el-table>
								</div>
							</el-collapse-item>
						</div>
					</el-collapse>
				</div>
			</el-main>
		</el-container>
	</section>
	<!--External libraries -->

	<!-- VueJS -->
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/element-ui"></script>
	<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
	<script>
		ELEMENT.locale(ELEMENT.lang.en) // sets language of controls to english
	</script>


	<!-- Axios performs AJAX communication -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- Used to create date picker for date fields -->
	<script src="./assets/js/libraries/moment.js" type="text/javascript"></script>
	<!-- used to manipulate dates and times -->
	<script src="assets/js/libraries/moment-timezone-with-data-2012-2022.js" type="text/javascript"></script>
	<!-- used for timezones  -->



	<!-- iVendor Libraries -->


	<script src="assets/js/libraries/ivendor/vendorNew.js" type="text/javascript"></script>




</body>

</html>